<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shuttle Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
table, th, td {
	border: 1px solid black;
	border-spacing: 0px;
}

th, td {
	padding: 10px;
}
</style>
</head>
<body>
	<p>Welcome to the Shuttle Management Application for Siemens</p>
	<br />
	<form action="/search" method="POST">
		<select name="location">
			<option th:value="KARTAL" selected="selected">KARTAL</option>
			<option th:value="GEBZE">GEBZE</option>
		</select>
		<input type="text" name="destination" id="destination" placeholder="Destination or Location"/>
		<p>
			<input type="submit" value="Search" /> <input type="reset" value="Reset" />
		</p>
	</form>
	<br />
	<table>
		<thead>
			<tr>
				<th>Shuttle Name</th>
				<th>Route Description</th>
				<th>Driver Full Name</th>
				<th>Driver Phone</th>
				<th>Plate Number</th>
				<th>Seating Capacity</th>
				<th>Working Hour</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="shuttle : ${shuttleList}">
				<td th:text="${shuttle.shuttleName}"></td>
				<td th:text="${shuttle.routeDescription}"></td>
				<td th:text="${shuttle.driverFullName}"></td>
				<td th:text="${shuttle.driverPhone}"></td>
				<td th:text="${shuttle.vehiclePlate}"></td>
				<td th:text="${shuttle.seatingCapacity}"></td>
				<td th:text="${shuttle.workingHour}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>